.wrapper {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
    url("https://picsum.photos/1920/1080?landscape.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  height: 100%;
  width: 100%;
}
.container {
  max-width: 600px;
  border: 0.8px solid transparent;
  box-shadow: 4px rgb(0, 0, 0, 0.8);
  border-radius: 40px;
  font-family: "Allerta", sans-serif;
  padding: 0;
  position: relative;
  top: 25%;
}
.search-bar {
  text-align: center;
  position: relative;
  top: 4px;
}
.bar {
  width: 300px;
  height: 35px;
  border: none;
  border-bottom: 2px solid #182aa5;
  color: whitesmoke;
  background: none;
  margin-bottom: 8px;
}
.bar:focus {
  outline: 1px solid rgba(245, 245, 245, 0.511);
  border-radius: 4px;
}
::placeholder {
  color: rgba(245, 245, 245, 0.7);
}
.searchButton {
  font-size: 20px;
  background-color: transparent;
  border: none;
  color: whitesmoke;
  opacity: 0.9;
  font-weight: bold;
  transition: 200ms all ease-in-out;
  position: relative;
  right: 32px;
}
button:hover {
  color: rgb(187, 232, 255, 0.9);
}
.locationButton {
  background-color: transparent;
  color: whitesmoke;
  border: none;
  font-size: 22px;
  position: relative;
  transition: 200ms all ease-in-out;
}
.city-date {
  background: #06113c90;
  max-width: 100%;
  border-radius: 40px 40px 0 0;
  color: whitesmoke;
}
h1 {
  margin: 0;
  font-size: 32px;
  line-height: 34px;
}
h2 {
  font-size: 24px;
  margin: 0;
}
.current-wx {
  text-align: center;
  color: #06113c;
}
.bg-img {
  background: linear-gradient(
    111.5deg,
    rgb(187, 232, 255, 0.9) 11.1%,
    rgb(4, 78, 116, 0.9) 107.5%
  );
  border-radius: 0 0 40px 40px;
  width: 100%;
}
h4 {
  font-size: 20px;
  line-height: 26px;
  text-transform: capitalize;
  border-radius: 4px 20px;
  background-color: rgba(245, 245, 245, 0.5);
  max-width: fit-content;
  margin: 5px 100px 0px auto;
  padding: 4px 20px;
}
p {
  text-align: justify-center;
  margin: 0;
}

p .weather-icon {
  font-size: 40px;
  position: relative;
  bottom: 20px;
}
p .wx-degree {
  font-size: 70px;
  line-height: 100px;
}
.degrees {
  position: relative;
  bottom: 35px;
}
.celsius {
  font-weight: bold;
}
.fahrenheit {
  font-weight: bold;
}

.active {
  color: #06113c;
  cursor: default;
}
.active:hover {
  text-decoration: none;
  color: #06113c;
}
.wx-factors {
  position: relative;
  top: 10px;
  right: 0px;
  color: whitesmoke;
  width: 195px;
}

.factors {
  padding: 10px 5px;
}
.percent {
  border: 1px solid transparent;
  font-weight: bold;
  text-align: left;
}
.fut-forecast {
  max-width: 600px;
  margin: 0 25px auto;
}
.wk-forecast {
  border: 1px solid transparent;
  border-radius: 15px;
  background-color: rgba(245, 245, 245, 0.3);
  backdrop-filter: blur(10px);
  box-shadow: 1px 0.8px 0.8px rgb(0, 0, 0, 0.7);
  text-align: center;
  color: whitesmoke;
  font-weight: 500;
  margin: 4px;
  height: 100px;
  max-width: 70px;
  padding: 0;
  transition: 50ms all ease-in;
}
.wk-forecast:hover {
  cursor: pointer;
  background: rgba(245, 245, 245, 0.5);
  backdrop-filter: blur(10px);
}
.wx-icon {
  position: relative;
  margin: 0;
  width: 40px;
}
.wx-forecast {
  position: relative;
}
.day1 {
  box-shadow: 2px 1px 1px rgb(0, 0, 0, 0.7);
}
footer {
  color: #ddddddce;

  display: block;
  text-align: center;
  position: fixed;
  bottom: 0;
  padding: 10px 0;
  background: rgb(128, 128, 128, 0.3);
  backdrop-filter: blur(10px);
  width: 100%;
}
footer .github {
  color: #9b9b9b;

  transition: 200ms all ease-in-out;
}
.github:hover {
  color: #1d32c8;
  text-decoration: none;
}
